
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #fff7ed;
  color: #161616;
}

header {
  background-color: white;
  padding: 1.5rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  margin-left: 1.5rem;
  color: #161616;
  font-weight: 500;
  font-size: 1rem;
}

nav a:first-child {
  font-weight: 900;
  font-size: 1.2rem;
  margin-left: 0;
}

.home-container {
  background-image: url('./assets/images/VanLife.png');
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.home-container h1 {
  font-size: 2.5rem;
  font-weight: 800;
  max-width: 500px;
  margin-bottom: 1rem;
}

.home-container p {
  font-size: 1rem;
  max-width: 400px;
  margin-bottom: 2rem;
}

.find-van-btn {
  background-color: #ff8c38;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.find-van-btn:hover {
  background-color: #e6731d;
}


footer {
  background-color: #252525;
  color: #aaa;
  text-align: center;
  padding: 1rem 0;
  font-size: 0.875rem;
}
